<div class="container-fluid formCreateCategory">
    <h1>Creación de Categoría</h1>
    <form [formGroup]="createCategoryForm" (ngSubmit)="categoryCreate()">
        <div class="form-group row">

            <label for="Name" class="col-sm-2 col-form-label">
                Nombre
            </label>
            <input formControlName="Name" type="text" class="form-control" id="Name">

            <label for="Description" class="col-sm-2 col-form-label">
                Descripción
            </label>
            <input formControlName="Description" type="text" class="form-control" id="Description">
        </div>
        <button type="submit">Enviar</button>
    </form>
</div>