/* .carousel-inner img {
    height: 350px!important;
    width: auto!important;
    margin-left: auto;
    margin-right: auto;
} */


/* img {
    height: 20rem!important;
    width: auto!important;
    margin-left: auto;
    margin-right: auto
}

.wholeSlider {
    padding-top: 8%;
    position: relative;
    width: 100%;
    margin-top: 8%;
} */