@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=RocknRoll+One&display=swap');
.bioMusic {
    background-image: url("~src/assets/Multimedia/Img/headbackground2.jpg");
}

.Next-prev {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: auto;
    padding-bottom: auto;
}

.imgSlider {
    height: 30rem!important;
    width: auto!important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.biographySection {
    padding-top: 5%;
}

.headerTitle {
    margin: 0px;
    text-align: center;
}

.headerTitle img {
    width: 50%;
    opacity: 0.8;
}

.navbar-nav li {
    font-family: 'Rock Salt', cursive;
    padding: 25px;
}

.navbar-nav li a {
    color: rgb(23, 134, 226)!important;
}

.navbar-nav li a:hover {
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}

.interactiveHover:hover {
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}

.biographyText {
    font-family: 'RocknRoll One', sans-serif;
    padding: 5%;
}

iframe {
    padding-top: 3%
}